.vs
.vscode
*.user
*.filters
*.vcxproj
*.sln
*.suo
*.sdf
*.opensdf
*.db
*.ipch
.DS_Store
build/
build_full/
out/
bin/
kshootmania/App/kshootmania_log.txt
kshootmania/App/config.ini
kshootmania/App/score.db
kshootmania/App/songs/
kshootmania/App/screenshot/
kshootmania/App/se/
kshootmania/App/imgs/
kshootmania/App/ui/
kshootmania/App/lang/
kshootmania/App/shaders/
kshootmania/App/engine/
kshootmania/App/assets/
kshootmania/App/kshootmania
kshootmania/App/kshootmania.exe
kshootmania/App/kshooteditor
kshootmania/App/kshooteditor.exe
kshootmania/App/ksm-v2-test
kshootmania/App/ksm-v2-test.exe
kshootmania/App/VERSION
*.o
*.a
*.dylib
*.so
node_modules/
